body, h1, h2, h3, h4, input, textarea {
  font-family: Arial, sans-serif;
}

input {
  border: 1.5px solid #838383;
  border-radius: 2px;
  padding: 5px;
}
input:focus {
  outline: none;
  border-color: #1c1c1c;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

h2, h3, h4 {
  margin: 0;
}

hr {
  margin: 30px 0;
}
