<h1>Schema JSON Editor</h1>

<button (click)="showFields = !showFields">toggle fields {{showFields ? "off" : "on"}}</button>
<div class="container" *ngIf="showFields">

  <ng-container *ngFor="let field of fields">

    <h2 *ngIf="isHeader(field)">{{field}}</h2>

    <ng-container *ngIf="!isHeader(field)">
      <div *ngFor="let f of getFields(field)">
        {{f}}
        <input type="text" [value]="getProperty(f)" (input)="setProperty(f, eventResult($event))"
               [class.does-not-exist]="getProperty(f) == '-'"
               [class.inherited]="getProperty(f) == '.'">
      </div>
    </ng-container>

  </ng-container>

</div>

<hr>

<div style="display: flex; flex-direction: row;">
  <div>
    <button (click)="readDocument()">read document</button>
    <br>
    <textarea [value]="stringify()"
              (input)="inputDocument = eventResult($event)"
              rows="50" cols="100"
    ></textarea>
  </div>
  <div>
    <button (click)="readFieldsSchema()">read fields schema</button>
    <br>
    <textarea [(ngModel)]="fieldsSchema"
              rows="50" cols="60"
    ></textarea>
  </div>
</div>
